body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Holds multiple graphs side-by-side */
.graph-container {
    display: inline-block;      /* side-by-side */
    vertical-align: top;        /* align top edges */
    margin-right: 40px;         /* spacing between graphs */
    text-align: center;         /* centers header */
}

/* Style for canvas */
.graph-container canvas {
    border: 1px solid black;
    margin-top: 10px;
}

.graph-wrapper {
    text-align: center;   /* center inline-block elements */
    width: 100%;
}

.changeTimesBtn{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: rgb(50, 107, 207);
    width: 10%;
    margin-top: 30px;
    margin-left: 44%;
}

.changeTimesBtn:hover{
    background-color: rgb(41, 82, 151);
    cursor: pointer;
}

.bestTimesBtn{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: gray;
    margin-left: 70%;
    position: relative;
    transition: all 0.3s ease;
}

.bestTimesBtn:hover{
    cursor: pointer;
}

.bestTimesBtn:active{
    background-color: green;
    color: white;
}