body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(236, 236, 236) 70%, rgb(61, 150, 61) 30%)
}

main h1{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
}

main h2{
    font-size:2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p{
    font-size: 0.7rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    color: grey;
}

#createBtn{
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: rgb(45, 157, 45);
    color: white;
}

#createBtn:hover{
    background-color: rgb(37, 185, 37);
    cursor: pointer;
}

.form-row{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.form-row select{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    width: 150px;
    padding: 5px;
    color: black;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
}

.form-row input{
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    caret-color: black;
    border-radius: 5px;
    outline: none;
}