body{
    background-color: #f8fafc;
}

main h1{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
    font-weight: bold;
}

main h2{
    font-size:2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

main p{
    font-size: 0.7rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    color: grey;
}

#createBtn{
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: rgb(37, 185, 37);
    width: 50%;
}

#createBtn:hover{
    background-color: rgb(45, 157, 45);
    cursor: pointer;
}

.form-row{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 0px;
}
.form-row select{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    width: 350px;
    padding: 10px;
    color: black;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
    outline: none;
}

.form-row input{
    text-align: left;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    border-style: solid;
    caret-color: black;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    outline: none;
    padding: 8px 12px;
    width: 310px;
}

#eventForm{
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    width: 50%;
    margin-left: 25%;
    padding: 40px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}