main h1{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
}

main h2{
    font-size:2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p{
    font-size: 0.7rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-top: 0px;
    color: grey;
}

#createBtn{
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: rgb(45, 157, 45);
    color: white;
}

#createBtn:hover{
    background-color: rgb(37, 185, 37);
    cursor: pointer;
}

.form-row{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.form-row input{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    border-style: solid;
    border-color: rgb(239, 236, 236);
    caret-color: black;
    border-radius: 5px;
}

.form-row input:focus{
    outline: none;
    box-shadow: none;
}

